:root {
    --backgroundimage: radial-gradient(rgba(255, 255, 255, 0.09) 2px, transparent 2px);
    --background: #000000;
    --background2: #000000;
    --text-gradient: linear-gradient(to right, #d85c66, #e24653, #880712);
    --text: #bababa;
    --text2: #ffffff;
    --shadow: #111111;

    --red: #BF1D2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: sans-serif;
    color: var(--text);
}

link[rel="icon"] {
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text2);
}

ion-icon {
    color: var(--text);
}

ul {
    list-style: none;
}

body {
    background-color: var(--background);
    height: 100vh
}

.landing {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #494949;
    background-image: var(--backgroundimage);
    background-size: 40px 40px;
}

.landing .navbar {
    width: 100%;
    height: 13vh;
    border-bottom: 1px solid #494949;
    background-color: var(--background);
    display: flex;
    z-index: 10;
    align-items: center;
    position: fixed;
}

.navbar .container {
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 60px;
    border-radius: 50px;
}

.container h1 {
    font-size: 2.5rem;
}

.container img, .container .title {
    margin: 1rem
}

.navbar .list {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.navbar .options {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%
}

.options li {
    width: 15rem;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: font-size 0.3s ease-out;
}

.options li:hover {
    font-size: 2rem;
    transition: font-size 0.3s ease-in;
}

.options li span a {
    color: var(--text)
}

.navbar .additional {
    width: 25%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional ion-icon {
    font-size: 2rem;
    transition: font-size 0.3s ease-out;
    color: var(--text)
}

.additional ion-icon:hover {
    font-size: 2.5rem;
    transition: 0.3s ease-in
}

.additional button {
    background-color: var(--red);
    color: var(--text);
    width: 70%;
    height: 7vh;
    border: none;
    border-radius: 13px;
    border: none;
    font-size: 1.5rem;
    transition: width 0.3s ease-out, height 0.3s ease-out, font-size 0.3s ease-out;
}

.additional button:hover {
    width: 75%;
    height: 8vh;
    border-radius: 13px;
    font-size: 1.7rem;
    transition: 0.3s ease-in;
}

.additional ion-icon, .additional button {
    margin: auto
}

.container, .options, .additional {
    margin: auto;
}

.landing .about {
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .left {
    width: 60%;
    height: 45vh;
    display: grid;
    place-items: center;
    text-align: center;
    margin: auto;
}

.about .content {
    width: 100%;
}

.content h1 {
    font-size: 4rem;
    background-image: var(--text-gradient);
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-clip: text; /* For other modern browsers */
    color: transparent; /* Makes the text itself transparent to show the gradient */
}

.content p {
    font-size: 1.8rem;
    color: var(--text)
}

.left .buttons {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons #add {
    background: var(--red);
}

.buttons #support a {
    color: var(--text);
}

.buttons button {
    background-color: transparent;
    width: 45%;
    height: 9vh;
    border: 2px solid var(--red);
    border-radius: 13px;
    margin: auto;
    font-size: 2rem;
    transition: width 0.3s ease-out, height 0.3s ease-out, font-size 0.3s ease-out;
}

.buttons button:hover {
    width: 50%;
    height: 10vh;
    border-radius: 13px;
    font-size: 2.5rem;
    transition: 0.3s ease-in;
}

.about .img {
    width: 25%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 400px;
    border-radius: 100%;
}

.about .content, .about .img {
    margin: auto
}






.functions {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #494949;
    background-image: var(--backgroundimage);
    background-size: 40px 40px;
}

.functions .boxes {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.functions .title {
    padding-top: 50px;
    font-size: 4rem;
    background-image: linear-gradient(to right, #d85c66, #e24653, #880712);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.functions .funcbox {
    width: 45%;
    height: 45vh;
    background: var(--background2);
    border: 1px solid #282828;
    box-shadow: 15px 15px 25px var(--shadow);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.funcbox h1 {
    font-size: 4rem;
    background-image: linear-gradient(to right, #d85c66, #e24653, #880712);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.funcbox p {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text);
}


footer {
    width: 100%;
    height: 50vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .bot {
    width: 20%;
    height: 40vh;
    display: grid;
    place-items: center;

}

.bot img {
    width: 200px;
    border-radius: 150px;
}

.bot h1 {
    font-size: 4rem;
    background-image: linear-gradient(to right, #d85c66, #e24653, #880712);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

footer .socials {
    width: 40%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials span {
    width: 80px;
    height: 80px;
    border: 2px solid var(--red);
    border-radius: 50px;
    display: flex;
    align-items: centerl;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

.socials span:hover {
    background: var(--red);
    transition: 0.2s ease-in;
}

.socials ion-icon {
    font-size: 3rem;
    margin: auto;
}

footer .fbuttons {
    width: 30%;
    height: 30vh;
    display: grid;
    place-items: center;
}

.fbuttons #add {
    background: #BF1D2A;
}

.fbuttons #support a {
    color: var(--text1);
}

.fbuttons button {
    background-color: transparent;
    width: 80%;
    height: 9vh;
    border: 2px solid var(--red);
    border-radius: 13px;
    font-size: 2.5rem;
    transition: width 0.3s ease-out, height 0.3s ease-out, font-size 0.3s ease-out;
}

.fbuttons button:hover {
    width: 85%;
    height: 12vh;
    border-radius: 13px;
    font-size: 3rem;
    transition: 0.3s ease-in;
}

footer .bot, footer .socials, footer .fbuttons {
    margin: auto;
}